@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "status-bar.css";
@import "screens/login.css";
@import "components/welcome-header.css";
@import "components/header.css";
@import "components/user.css";
@import "screens/chats.css";
@import "components/icon-bar.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "components/media-query.css";
@import "components/nav.css";
@import "screens/chat.css";


:root {
  --red: #c62b29;
  --yellow: #fcdb01;
  --black: #2a2d33;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: auto;
  background: var(--black);
  color: white;
}

.border {
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding-bottom: 60px;
}