.settings-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 20px;
  background: var(--black);
}

.settings-screen > .grid {
  display: grid;
  grid-auto-rows: 60px;
  padding: 0px 20px;
}

.grid:first-child {
  margin-top: 90px;
}

.settings-screen > .grid div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.settings-screen > .grid i {
  margin-right: 10px;
}

.settings__right-span {
  color: rgba(255, 255, 255, 0.7);
}
