.header {
  padding: 20px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header i {
  margin-left: 20px;
  color: var(--yellow);
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(180deg);
  }
}

.header .fa-cog:hover {
  will-change: transform;
  animation: rotateCog 1.5s linear infinite;
}
